* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10vh;
}
img {
    width: 4em;
    object-fit: contain;
}

/* Japan flagga */

.outer {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40em;
    height: 32em;
    box-shadow: 0 0px 5px 5px rgba(152, 152, 152, 0.1);
}
.circle {
    width: 16em;
    height: 16em;
    border-radius: 50%;
    background-color: #b10000;
}

/* Menu easy */

.nav-items {
    display: flex;
}
.nav-items li {
    background-color: #d2d2d2;
    padding: 10px 40px;
    letter-spacing: 1px;
}
.nav-items li:first-of-type {
    background-color: #444 !important;
    color: #fff;
}

/* Menu medium */

.menu-medium {
    background: #d2d2d2;
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding: 10px;
}
.menu-medium ul {
    display: flex;
}
.menu-medium ul li {
    padding: 0 5px;
    font-size: 15px;
}

/* Menu hard */

.menu-hard {
    background: #d2d2d2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    padding: 10px 20px;
    color: gray;
}
.menu-hard ul {
    display: flex;
}
.menu-hard ul li {
    padding: 0 5px;
    font-size: 15px;
}
.btn-hard {
    font-size: 12px;
    color: gray;
    padding: 3px 10px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: transparent;
}

/* Fibonacci */

.fibo-items {
    display: flex;
    width: 70em;
    height: 10em;
    margin-bottom: 2em;
    color: #fff;
}
.fibo-items-2 {
    display: flex;
    width: 70em;
    height: 10em;
    flex-flow: row-reverse;
    color: #fff;
}
.box3 { flex: 0.5; background: rgba(100,40,0,1);}
.box1 { flex: 0.5; background: rgba(100,0,0,1);}
.box2 { flex: 0.5; background: rgba(100,20,0,1);}
.box4 { flex: 0.6; background: rgba(100,60,0,1);}
.box5 { flex: 0.7; background: rgba(100,80,0,1);}
.box6 { flex: 0.8; background: rgba(100,100,0,1);}
.box7 { flex: 0.9; background: rgba(100,120,0,1);}
.box8 { flex: 1.1; background: rgba(100,140,0,1);}
.box9 { flex: 3; background: rgba(100,160,0,1);}
.box10 { flex: 5; background: rgb(100, 180, 0, 1);}

/* Kort med pager */

.card {
    background: #fff;
    width: 15em;
    height: 25em;
    box-shadow: 0 0 5px 5px rgba(152, 152, 152, 0.1);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card section:first-of-type {
    margin-bottom: auto;
    margin-top: auto;
}
.card section:first-of-type > * {
    margin: 1rem 0;
}
.card blockquote {
    color: #ababab;
}
.card h2 {
    text-align: center;
    font-size: 15px;
    margin-top: auto;
}
section:has(.dots) {
    width: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.dots {
    width: 10px;
    height: 10px;
    background-color: #bbb;
    border-radius: 50%;
}
.dots:active {
    background: #444;
}

/* Profilkort */

.profile-card {
    background: #fff;
    width: 15em;
    height: 25em;
    box-shadow: 0 0 5px 5px rgba(152, 152, 152, 0.1);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.profile-card section {
    margin-bottom: auto;
    margin-top: auto;
}
.profile-card section img {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    object-fit: cover;
}
.profile-card h2 {
    font-size: 1rem;
    margin-bottom: 5px;
    font-weight: bold;
}
.profile-card h4 {
    font-size: .7rem;
    color: #bbb;
    font-weight: normal;
}
button {
    background: rgb(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
}

/* Spelkort */

.play-card {
    background: #fff;
    width: 15em;
    height: 25em;
    box-shadow: 0 0 5px 5px rgba(152, 152, 152, 0.1);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.play-card div {
    display: flex;
    flex-direction: column;
}
.play-card div:first-child {
    align-self: flex-start;
}
.play-card div:last-child {
    align-self: flex-end;
    transform: rotate(180deg);
}
.heart {
    color: #b10000;
}
.heart.big {
    font-size: 2em;
}

/*  Produkt profilläge */

.product-card {
    background: #fff;
    width: 15em;
    height: 25em;
    box-shadow: 0 0 5px 5px rgba(152, 152, 152, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}
.product-card > * {
    width: 100%;
    height: 50%;
}
.product-card figure {
    background: rgb(255, 221, 2);
    display: flex;
    justify-content: center;
}
.product-card figure img {
    width: 100%;
}
.product-card section {
    padding: 1em;
    position: relative;
}
.product-card section > * {
    margin: 5px;
}
.product-card section h2 {
    font-size: .8em;
    font-weight: 500;
}
.product-card section p {
    font-size: .7em;
    margin: 10px 5px;
}
.product-card section span {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1.6em;
    font-weight: 600;
    padding: 10px;
}

/* Produkt landskap */

.landscape-card {
    background: #fff;
    width: 50em;
    height: 25em;
    box-shadow: 0 0 5px 5px rgba(152, 152, 152, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}
.landscape-card > * {
    flex: 1;
    height: 100%;
}
.landscape-card figure {
    background: rgb(255, 221, 2);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.landscape-card figure img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    margin-top: auto;
}
.landscape-card figure figcaption {
    align-self: flex-end;
    padding: 2rem;
    margin-top: auto;
    font-size: 2rem;
}
.landscape-card section {
    padding: 2em;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.landscape-card h1 {
    font-size: 2rem;
}
.landscape-card h2 {
    font-size: 1rem;
}
.landscape-card p {
    font-size: .8rem;
}
.landscape-card button {
    margin-top: auto;
    align-self: flex-end;
    background: none;
    border: 2px solid #000;
    border-radius: 0;
    color: #000;
}
.landscape-card button:hover {
    background: #000;
    color: #fff;
    cursor: pointer;
}